NAKAMA_DATABASE_ADDRESS=root@cockroachdb:26257
NAKAMA_SERVER_KEY=change-me
NAKAMA_SESSION_KEY=change-me-32-chars
NAKAMA_REFRESH_KEY=change-me-32-chars
NAKAMA_HTTP_KEY=change-me
NAKAMA_CONSOLE_USERNAME=admin
NAKAMA_CONSOLE_PASSWORD=adminadmin
NAKAMA_CONSOLE_SIGNING_KEY=change-me
